.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(4px);

  z-index: 9999;
}

.confirm-modal {
  width: 420px;

  background: white;

  border-radius: 20px;

  padding: 30px;

  text-align: center;

  animation: popup 0.25s ease;
}

.confirm-icon {
  font-size: 52px;
  margin-bottom: 12px;
}

.confirm-modal h2 {
  margin-bottom: 10px;
}

.confirm-modal p {
  color: #666;
  margin-bottom: 24px;
}

.confirm-actions {
  display: flex;
  gap: 12px;
}

.confirm-actions button {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
}

.btn-cancel {
  background: #e5e7eb;
}

.btn-delete {
  background: #ef4444;
  color: white;
}

.btn-delete:hover {
  background: #dc2626;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
